/* CSS Styling for the Front-End Project */

* {
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#header{
    position: absolute;
    z-index: 10;
    width: 100%
}

body {
    background-color: #219ebc;
}

.navbar{
    padding: 10px 0;
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ccc !important;
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}

.nav-link{
    color: #ccc !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}

.nav-link:hover{
    background: #dccce1 !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
    
}

/* 
    position: relative;
    background: url(download.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px;

} */

#imagePet {
    max-width: 150px;
    height: auto;
}

.card-img-top {
    max-width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#petResults {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
