/* CSS Styling for the Front-End Project */

#header{
    position: absolute;
    z-index: 10;
    width: 100%
}

body {
    background-color: #219ebc;
}

.navbar{
    padding: 10px 0;
}

.navbar-brand{
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ccc !important;
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 50px;
}

.nav-link{
    color: #ccc !important;
    letter-spacing: 2px;
    font-size: 1em;
    font-weight: 700;
}

.nav-link:hover{
    background: #dccce1 !important;
    color: #262626 !important;
    border-radius: 5px;
    transition: all 0.6s ease 0s;
    
}

.pet-image {
    position: relative;
    width: 120%;
    height: 100%;
    padding: none;
    margin: 10px;

}

.image-container {
    display: block;
    max-width: 300;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: none;
}

.pet-image:hover .overlay {
    opacity: 1;
}

.text {
    padding: 5px;
    background-color: #e9c46a;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#catPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

#catButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}